body {
	margin:0;
	padding:0;
	font-family: 'Times New Roman';
}

.fa {
	color: #fff;
}

header {
	width:100%;
	height: 36px;
	background-color: #090909; 
}

	header nav {
		width:100%;
		text-align: center;
		position: relative;
	}

		header nav img {
			position: absolute;
			left:10px;	
			z-index:1;
		}

		header nav ul {
			position: relative;
			display: none;
			margin:0 auto;
			padding:0;
			list-style:none;
			width:300px;
			background-image: url(../img/fondo-menu.jpg);
			z-index:10;			
		}

			header nav ul li {
				width:100%;
				height:40px;
				border-bottom: 1px solid #fff;
			}

				header nav ul li a {
					font-size:20px;
					color:#fff;
					display: block;
					width:100%;
					height: 30px;
					padding-top:10px;
				}

				header nav ul li a:link,
				header nav ul li a:visited,
				header nav ul li a:active {
					text-decoration: none;
				}

				header nav ul li a:hover {
					text-decoration: underline;
					background-color: #908A8A;
				}

		header nav i {
			margin-bottom:4px;
		}

section.frase {
    font-size: 24px;
    margin-left: 118px;
    margin-top:20px;
}

section.banner {
	background-image: url(../img/banner.jpg);
	background-position: center top;
	width:100%;
	height: 278px;
}

article.autor {
	width:100%;
}
	
	article.autor div.foto {
		width:180px;
		height: 189px;
	}