body {
	padding: 0;
	margin:0;
}

.contenedorSuperior {
	width:100%;
	background: #000;
}

.contenedorSuperior header {
	width:1170px;
	margin:0 auto;
}

.contenedorSuperior div.logo {
	float:left;
	width:137px;
	height: 36px
}