body {
	margin:0;
	padding:0;
}

.menu {
	width:300px;
	height:400px;
	background-color: green;
	position: absolute;
}


/* Versión Smartphone */
.contenedor {
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.cabecera {
	width:100%;
	height: 94px;
	overflow: hidden;
	background-color: #376b3d
}

.logo {
	width:157px;
	height: 60px;
	float:left;
	margin-top:21px;
	margin-left: 1%;
}

.menu {
	width:21px;
	height: 17px;
	float: right;
	margin-top:40px;
	margin-right:1%;
}

.cuerpo {
	width:100%;
	overflow: hidden;
}

.resena {
	width:98%;
	padding-left:1%;
	padding-right:1%;
	font-family: Arial;
	font-size: 15px;	
	text-align: justify;
}

.foto {
	width:100%;
	text-align: center;
}

.fotoBruno{
	width:100%;
	max-width:559px;
}

.pie {
	width: 100%;
	height: 106px;
	padding-top:10px;
	background-color: #212121;
}

.logoChico {
	width:100%;
	height: 55px;
	text-align: center;

}

.textoDerechos {
	width: 100%;
	font-family: Arial;
	font-size: 15px;
	color:#ffffff;
	text-align: center;
}




/* Versión Tablet  */
@media (min-width:800px) {
	.resena {
		padding-right:0;
		width:47.275862068966%;
		float:left;
	}

	.foto {
		width:48.275862068966%;
		float:right;
	}


	.logoChico {
		width:40%;
		float:right;
		text-align: right;
		margin-right:1%;
	}

	.textoDerechos{
		width:50%;
		float:left;
		text-align: left;
		margin-left:1%;
	}

}

/* Versión Desktop */
@media (min-width:1160px) {
	.contenedor {
		width:1160px;
	}

	.logo {
		margin-left:0;
	}

	.menu {
		margin-right:0;
	}

	.logoChico {
		margin-right: 0;
	}

	.resena {
		padding-left:0;
		width:48.275862068966%;
		float:left;
	}	

	.textoDerechos {
		margin-left:0;
	}
}
















